body{
  margin: 100px;
  align-content: center;
}

hr,h2{
  color:gray;
}

.title{
position:absolute;
top:50%;
left:45%;
transform: translate(-50%, -50%);
font-family: 'Comforter',cursive;
color: White;
font-size: 80px;
padding-left: 50px;
}

.soup{
height:auto;
width: 100%;
}




.list-dash > li{
  /* list-style-type: none; */
  content: '-';

}
.intro{
  margin: 30, 50, 0,50;
  display: block;
  text-align: justify;
  padding: 3vw;
}

ul{
  list-style-type: none;

}
ul li:before{
  content:'\2014'
}

ol {
  counter-reset: list;
}
ol > li {
  list-style: none;
}
ol > li:before {
  content: counter(list, number) ") ";
  counter-increment: list;
}
.banner{
  padding-left: 160px;
}