body{
  margin: 20px;
  align-content: center;
}

.soup{
height:auto;
width: 70%;
padding-left: 15%;
}

.title{
position:absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
}

hr{
  color:gray;
}

h2{
  color:gray;
}
