body{
  margin: 100px;
  align-content: center;
}

.soup{
height:auto;
width: 100%;
}

.title{
position:absolute;
top:79%;
left:34%;
/* transform: translate(-50%, -50%); */
font-family: 'Comforter',cursive;
color: White;
font-size: 80px;
padding-left: 50px;
}

hr{
  color:gray;
}

h2{
  color:gray;
}

.list-dash{

}
.intro{
  text-indent: 50px;
  text-align: justify;
  margin: 30, 50, 0,50;
}

.info,
prep{
display: flex;
justify-content: center;
align-self: center;
}